<br>
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
    <a style="color: white;" class="navbar-brand" href="#">EDUBRIDGE HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

    </ul>
</div>
</nav>

<div class="container">

    <h2 class="text-center">update Patient</h2>
    <form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>First Name</label>
        <input type="text" id="firstName" class="form-control" name="firstName" placeholder="Enter firstname" [(ngModel)]="patient.firstName"/>
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Enter  lastname" [(ngModel)]="patient.lastName"/>
    </div>

    <div class="form-group">
        <label>Age</label>
        <input type="text" id="age" class="form-control" name="age" placeholder="Enter age" [(ngModel)]="patient.age"/>
    </div>

    <div class="form-group">
        <label>Gender</label>
        <select class="form-control" id="gender" name="gender" [(ngModel)]="patient.gender" required>
            <option value=""disabled selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
            </select>
    </div>

    <div class="form-group">
        <label>Blood Group</label>
        <input type="text" id="bloodGroup" class="form-control" name="bloodGroup" placeholder="Enter bloodgroup" [(ngModel)]="patient.bloodGroup"/>
    </div>

    <div class="form-group">
        <label>Prescription</label>
        <input type="text" id="prescription" class="form-control" name="prescription" placeholder="Enter prescription" [(ngModel)]="patient.prescription"/>
    </div>

    <div class="form-group">
        <label>Dose</label>
        <input type="text" id="dose" class="form-control" name="dose" placeholder="Enter dose" [(ngModel)]="patient.dose"/>
    </div>

    <div class="form-group">
        <label>Urgency</label>
        <input type="text" id="urgency" class="form-control" name="urgency" placeholder="Enter urgency" [(ngModel)]="patient.urgency"/>
    </div>

    <div class="form-group">
        <label>Fees</label>
        <input type="text" id="fees" class="form-control" name="fees" placeholder="Enter fees" [(ngModel)]="patient.fees"/>
    </div>

    <button type="submit" class="btn btn-success">submit</button>
    
    </form>
    
</div>