<div class="form-container">
  <h2>Add Patient</h2>
  <form #addpatientform="ngForm" (ngSubmit)="registerPatient()">
    <label for="firstName">First Name:</label>
    <input id="firstName" name="firstname" [(ngModel)]="patient.firstName" required />

    <label for="lastName">Last Name:</label>
    <input id="lastName" name="lastname" [(ngModel)]="patient.lastName" required />

    <label for="age">Age :</label>
    <input id="age" name="Age" [(ngModel)]="patient.age" required />

    <label for="gender">Gender:</label>
    <input id="gender" name="Gender" [(ngModel)]="patient.gender" required />

    <label for="username">User Name:</label>
    <input id="username" name="User Name" [(ngModel)]="patient.username" required />

    <label for="password">Password:</label>
    <input id="password" name="Password" [(ngModel)]="patient.password" required />
  
  <input type="submit" [disabled]="addpatientform.invalid" value="Register Patient" />
  </form>
  </div>