<nav style="margin:auto" class="navbar navbar-expand-lg bg-primary">
    <a style="color: white;" class="navbar-brand" href="#">EDUBRIDGE HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
  </nav>

  <br>

<h2 style=" text-align: center;">Welcome</h2>
<h3 style=" text-align: center;">Doctor</h3>
<br>
<br>


<div style="align-items: start; display: flex; justify-content: space-around;" >

<div class="card text-center" style="width: 18rem; height: 12rem;"> 
    <div class="card-body">
        <h5 class="card-title">View Patients</h5>
          <br><br>
        <button (click)="viewPatient()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar"><button type="button" class="btn btn-primary">View Patients</button></span>
        </button>
    </div>
  </div>

  <div class="card text-center" style="width: 18rem; height: 12rem;"> 
    <div class="card-body">
       <h5 class="card-title">View Medicines</h5>
         <br><br>
         <button (click)="viewMedicine()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar"><button type="button" class="btn btn-primary">View Medicines</button></span>
         </button>
     </div>
   </div>

   <div class="card text-center" style="width: 18rem; height: 12rem;"> 
    <div class="card-body">
        <h5 class="card-title">View Appointments</h5>
          <br><br>
          <button (click)="viewAppointments() " class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar"><button type="button" class="btn btn-primary" >View Appointments</button></span>
          </button>
    </div>
   </div>
 </div>