<div class="form-container">
    <h2>Add Doctor</h2>
    <form #docregform="ngForm" (ngSubmit)="doctorRegistration()">
      <label for="firstname">First Name:</label>
      <input id="firstname" name="firstName" [(ngModel)]="doctor.firstname" required />
  
      <label for="lastname">Last Name:</label>
      <input id="lastname" name="lastName" [(ngModel)]="doctor.lastname" required />
  
     
  
      <label for="username">User Name:</label>
      <input id="username" name="User Name" [(ngModel)]="doctor.username" required />
  
      <label for="password">Password:</label>
      <input id="password" name="Password" [(ngModel)]="doctor.password" required />
    
    <input type="submit" [disabled]="docregform.invalid" value="Register Doctor" />
    </form>
    </div> 
  